<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ APP_NAME }}{% endblock %}</title>
    <!-- Tailwind CSS -->
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>

<body class="antialiased">

    {% include "snippets/navbar.html" %}

    <main class="flex-1 flex flex-col pt-8 pb-12 w-full max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        {% include "snippets/messages.html" %}

        {% block content %}
        {% endblock %}
    </main>

    {% include "snippets/footer.html" %}

</body>

</html>